#about .about_banner {
    margin-bottom: 15px;
}

#about .about_banner img {
    display: block;
    width: 100%;
}

#about .about_cont {
    padding: 10px;
    line-height: 1.6em;
}

@media (max-width: 767px) {
    #about .radius {
        border-radius: 0;
        border: none;
    }

    #about .about_banner {
        margin-bottom: 0;
    }
}