.panel-group {
    margin-bottom: 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-success {
    border-color: #fff;
}

.panel-success > .panel-heading {
    padding: 15px;
    color: #555;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.panel-success > .panel-heading a {
    font-size: 14px;
}

.panel-success > .panel-heading a .iconfont {
    padding-right: 6px;
    font-size: 15px;
    color: #41b883;
}

.panel-success > .panel-heading a .count {
    color: #999;
}

.panel-success > .panel-heading a:focus, .panel-success > .panel-heading a:hover {
    text-decoration: none;
}

.panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

.panel-group .list-group-item {
    font-size: 14px;
    border-style: dashed;
    border-color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.6);
}

.panel-group .list-group-item a {
    color: #777;
    transition: 0.2s;
}

.panel-group .list-group-item a:focus, .panel-group .list-group-item a:hover {
    color: #41b883;
    text-decoration: none;
}

.panel-group .list-group-item a span {
    color: #41b883;
    padding-right: 10px;
}

.panel-group .list-group-item small {
    padding-left: 20px;
    color: #ccc;
    white-space: nowrap;
}

.panel-group .list-group-item small .iconfont {
    font-size: 12px;
}