#article header {
    margin-bottom: 15px;
}

#article header {
    position: relative;
    height: 280px;
    overflow: hidden;
}

#article header .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(18px);
    filter: blur(18px);
}

#article header .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

#article header .text .title {
    color: #4da47b;
    font-size: 22px;
}

#article header .text .info {
    color: #888;
    font-size: 13px;
}

#article header .text .info > span {
    padding-right: 10px;
}

#article header .text .info > span:last-child {
    padding-right: 0;
}

#article header .text .info > span .iconfont {
    font-size: 13px;
}

#article header .text .label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    background: -webkit-linear-gradient(left, rgba(65, 184, 131, 0.4), rgba(65, 184, 131, 0.7));
    background: linear-gradient(to right, rgba(65, 184, 131, 0.4), rgba(65, 184, 131, 0.7));
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

#article header .text .label:hover {
    transform: scale(1.06);
}

#article header .text .brief {
    text-indent: 2em;
    color: #777;
}

#article .content {
    margin-bottom: 15px;
    padding: 10px;
    line-height: 1.6em;
}

#article .content p {
    text-indent: 2em;
}

#article .content blockquote {
    font-size: 16px;
    border-radius: 4px;
    border-left: 4px solid rgba(65, 184, 131, 0.5);
    background-color: #f5f5f5;
}

#article .content blockquote p {
    text-indent: 0;
}

#article .content img {
    max-width: 100%;
    border-radius: 4px;
}

#article .content p img {
    margin-left: -2em;
}

#article .content pre {
    position: relative;
    padding: 0;
    font-size: 14px;
    border-color: #eee;
    word-wrap: normal;
}

#article .content pre .copy_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    line-height: normal;
    color: #ccc;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
    transition: 0.2s;
    display: none;
}

#article .content pre .copy_btn:hover {
    color: #41b883;
}

#article .content pre:hover .copy_btn {
    display: block;
}

#article .content pre code {
    padding: 10px;
    line-height: 22px;
    white-space: pre;
}

#article .content table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
}

#article .content table thead {
    background-color: #f9f9f9;
}

#article .content table td, #article .content table th {
    min-width: 40px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 2px 4px;
    text-align: left;
    box-sizing: border-box;
}

#article .comment .header {
    padding: 10px;
    color: #999;
}

#article .comment .header .iconfont {
    font-size: 14px;
}

#article .comment .empty {
    padding: 30px 0;
}

#article .comment_form {
    padding: 0 10px;
}

#article .comment_form textarea {
    resize: vertical;
    -webkit-appearance: none;
}

#article .comment_form input {
    -webkit-appearance: none;
}

#article .comment_list {
    border-top: 1px dashed #eee;
}

#article .comment_list .comment_item {
    padding: 10px;
    display: -webkit-flex;
    display: flex;
}

#article .comment_list .comment_item:nth-child(2n+2) {
    background-color: rgba(0, 0, 0, 0.02);
}

#article .comment_list .comment_item:last-child {
    padding-bottom: 15px;
}

#article .comment_list .comment_item .user {
    width: 14%;
    text-align: center;
    color: #999;
}

#article .comment_list .comment_item .user .index {
    color: #bbb;
}

#article .comment_list .comment_item .user .iconfont {
    font-size: 34px;
}

#article .comment_list .comment_item .user .name {
    font-size: 12px;
}

#article .comment_list .comment_item .text {
    width: 86%;
    padding-left: 10px;
}

#article .comment_list .comment_item .text .comment_date {
    padding: 6px 0;
    color: #999;
    font-size: 12px;
}

#article .comment_list .comment_item .text .reply {
    display: -webkit-flex;
    display: flex;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: rgba(65, 184, 131, 0.1);
}

#article .comment_list .comment_item .text .reply .webmaster {
    width: 5em;
    color: #69b893;
}

#article .comment_list .comment_item .text .reply .reply_date {
    display: block;
    line-height: normal;
    padding-top: 6px;
    color: #999;
    font-size: 12px;
}

@media (max-width: 767px) {
    #article .radius {
        border-radius: 0;
        border: none;
    }

    #article header {
        height: 220px;
        margin-bottom: 0;
    }

    #article .content {
        margin-bottom: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}