/*layout*/
html, body {
    font-size: 16px;
}

body {
    padding-top: 65px;
    color: #555;
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}

main {
    min-height: calc(100vh - 121px);
    margin-bottom: 15px;
}

main .right_cont {
    padding-left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 66px;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #f1f7f5;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-filter: blur(12px);
    filter: blur(12px);
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }

    #backdrop {
        background-image: none !important;
    }

    main {
        min-height: calc(100vh - 91px);
        margin-bottom: 0;
    }

    main .left_cont, main .right_cont {
        padding-left: 0;
        padding-right: 0;
    }

    main .left_cont > .radius, main .right_cont .radius {
        border: none;
        border-radius: 0;
    }
}

.pager li > a {
    color: #555;
}

.pager li > a:hover {
    color: #41b883;
    background-color: rgba(255, 255, 255, 0.8);
}

.pager .disabled > a {
    opacity: 0.5;
}

.empty {
    padding: 100px 0;
    text-align: center;
    color: #999;
}

.empty .iconfont {
    display: block;
    font-size: 70px;
}

.empty a {
    color: #41b883;
}

.empty a:focus, .empty a:hover {
    text-decoration: none;
    color: #35956a;
}

@media (max-width: 767px) {
    .empty {
        padding: 50px 0;
    }
}

/*header*/
.navbar-default {
    background: rgba(255, 255, 255, 0.94);
    border-color: #f5f5f5;
    -webkit-user-select: none;
    user-select: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo {
    display: inline-block;
    width: 60px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: auto 66%;
}

#tp-weather-widget {
    height: 100%;
    cursor: pointer;
}

#tp-weather-widget .sw-container {
    padding-left: 20px;
    border-left: 1px solid #eee;
}

.navbar-default .navbar-nav > li {
    border-bottom: 1px solid rgba(43, 123, 88, 0.06);
}

.navbar-default .navbar-nav > li > a {
    color: #666;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #41b883;
    font-weight: bold;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #41b883;
}

.navbar-toggle {
    margin-right: 5px;
    border: none;
}

.navbar-toggle[aria-expanded="true"] .icon-bar {
    background-color: #41b883;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-collapse, .navbar-form {
    border: none;
}

.navbar-form {
    margin-top: 10px;
}

input.form-control, textarea.form-control {
    min-width: 240px;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-form .form-group-sm .form-control {
    font-size: 14px;
}

.form-control:focus {
    border-color: rgba(65, 184, 131, .7);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(65, 184, 131, .4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(65, 184, 131, .4);
}

@media (max-width: 767px) {
    .navbar-default {
        background: rgba(255, 255, 255, 0.98);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

    .navbar-form {
        margin-top: 0;
    }

    .form-group-sm .form-control {
        height: 38px;
    }

    #tp-weather-widget .sw-container .sw-card-slim-container {
        height: auto;
    }
}

/*article_list*/
.article_item {
    position: relative;
    display: block;
    height: 150px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    color: inherit;
    transition: 0.2s;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.article_item:first-of-type {
    border-top: 1px solid #f5f5f5;
    border-radius: 3px 3px 0 0;
}

.article_item:last-of-type {
    border-radius: 0 0 3px 3px;
}

.article_item .label_sign {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 5em;
    padding: 2px 4px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 0 0 0 3px;
    background: -webkit-linear-gradient(left, rgba(65, 184, 131, 0.4), rgba(65, 184, 131, 0.7));
    background: linear-gradient(to right, rgba(65, 184, 131, 0.4), rgba(65, 184, 131, 0.7));
}

.article_item:hover {
    border-left: 4px solid #41b883;
    border-radius: 3px;
    transform-origin: center bottom;
    transform: scale(1.02);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.98);
    text-decoration: none;
}

.right_cont .article_item:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.right_cont .article_item:hover .title {
    font-weight: normal;
}

.article_item article {
    height: 100%;
    padding: 15px;
}

.article_item .cover {
    height: 100%;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.article_item .cover .iconfont {
    color: #ddd;
    font-size: 50px;
}

.article_item .text {
    height: 100%;
    padding-right: 0;
}

.article_item .title {
    transition: 0.2s;
}

.article_item:hover .title {
    color: #41b883;
}

.article_item .text header .brief {
    color: #777;
}

.article_item .text .info {
    color: #999;
}

.article_item .text .info small {
    padding-right: 16px;
}

.article_item .text .info small:last-of-type {
    padding-right: 0;
}

.article_item .text .info .iconfont {
    font-size: 12px;
}

@media (max-width: 1201px) {
    .article_item {
        height: 130px;
    }
}

@media (max-width: 991px) {
    .article_item {
        height: 106px;
    }

    .article_item article {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .article_item {
        height: 103px;
        border-left: none;
        border-right: none;
        border-radius: 0 !important;
    }

    .article_item .label_sign {
        top: 10px;
        right: auto;
        left: 10px;
        z-index: 2;
        padding: 0 2px;
        width: 4em;
        border-radius: 3px 0 3px 0;
    }
}

/*side_bar*/
.side_bar > .column {
    margin-bottom: 15px;
}

.side_bar > .column .column_header {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 3px 3px 0 0;
    background-color: #41b883;
}

.side_bar > .column:first-child {
    margin-top: 0;
}

.business_card {
    overflow: hidden;
}

.business_card .business_cont {
    position: relative;
    border: 1px solid #f5f5f5;
    border-top: none;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.business_card .bg {
    height: 94px;
    background-color: rgba(65, 184, 131, 0.5);
    background-repeat: no-repeat;
    background-position: center 18%;
    background-size: cover;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}

.business_card .portrait {
    position: absolute;
    top: 26px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    background-color: #e5f1eb;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.business_card .portrait:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.business_card .cont {
    padding-top: 28px;
    text-align: center;
    overflow: hidden;
}

.business_card .cont .self_intro {
    color: #888;
}

.business_card .cont .statistics_list > div {
    display: inline-block;
    padding: 0 15px;
}

.business_card .cont .statistics_list .num {
    margin-bottom: 0;
}

.business_card .cont .statistics_list .column {
    margin-bottom: 4px;
    color: #888;
    font-size: 12px;
}

.business_card .cont .contact a {
    padding: 0 15px;
}

.business_card .cont .contact a:hover, .business_card .cont .contact a:focus {
    outline: none;
    text-decoration: none;
}

.business_card .cont .contact a .iconfont {
    color: #666;
    font-size: 24px;
    transition: 0.2s;
}

.business_card .cont .contact a:hover .icon-github {
    color: #2245c5;
}

.business_card .cont .contact a:hover .icon-qq {
    color: #c02e26;
}

.top_article_list .article_item {
    display: block;
    height: auto;
    font-size: 14px;
}

.top_article_list .article_item .index {
    margin-right: 4px;
}

.top_article_list .article_item:nth-of-type(1) {
    border-radius: 0;
}

.top_article_list .article_item:nth-of-type(1):hover {
    border-radius: 3px;
}

.top_article_list .article_item:nth-of-type(1) .index {
    color: #ff3126;
}

.top_article_list .article_item:nth-of-type(2) .index {
    color: #ff7837;
}

.top_article_list .article_item:nth-of-type(3) .index {
    color: #ffa538;
}

@media (max-width: 767px) {
    .side_bar > .column:last-of-type {
        margin-bottom: 0;
        margin-top: 15px;
    }

    .side_bar > .column .column_header {
        border-radius: 0;
    }

    .top_article_list .article_item {
        font-size: 15px;
    }
}

/*footer*/
footer {
    height: 40px;
    border-top: 1px solid #f5f5f5;
    background: rgba(255, 255, 255, 0.94);
}

footer span {
    line-height: 40px;
    color: #999;
    font-size: 12px;
}

@media (max-width: 767px) {
    footer {
        background: rgba(255, 255, 255, 0.97);
    }

    footer .text-right {
        text-align: center;
    }
}

/*back top btn*/
#back_top_btn {
    position: fixed;
    bottom: 80px;
    right: -75px;
    width: 46px;
    height: 46px;
    transform: rotate(0);
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    transition: 0.5s linear;
}

#back_top_btn.reveal {
    right: 30px;
    transform: rotate(360deg);
}

#back_top_btn .iconfont {
    color: #41b883;
    font-size: 30px;
}

@media (max-width: 767px) {
    #back_top_btn {
        bottom: 50px;
        right: -60px;
    }

    #back_top_btn.reveal {
        right: 15px;
    }
}